@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
	.clip-tl {
		clip-path: polygon(100% 100%, 10% 100%, 0% 0%, 100% 0%);
	}
}

@media (max-width: 1023px) {
	.clip-tl {
		clip-path: polygon(100% 100%, 0% 100%, 0% 15%, 100% 0%);
	}
}

.clip-bl {
	clip-path: polygon(100% 100%, 0% 100%, 10% 0%, 100% 0%);
	background-color: #1b1b1d;
}

.clip-tr {
	clip-path: polygon(90% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.clip-tr::before {
	clip-path: polygon(90% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.clip-br {
	clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 90% 0%);
}

.clip-yl {
	clip-path: polygon(100% 100%, 10% 100%, 0% 0%, 90% 0%);
}

.clip-yr {
	clip-path: polygon(90% 100%, 0% 100%, 10% 0%, 100% 0%);
}

.clip-btn {
	clip-path: polygon(98.5% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.bg-radial {
	background-image: radial-gradient(circle at 50% 15%, #dc2626 -40%, #18181b);
}
